@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 192, 202, 245;
    --background-start-rgb: 16, 16, 20;
    --background-end-rgb: 16, 16, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'UbuntuSans', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'UbuntuSans';
  src: url('/fonts/UbuntuSansMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ascii {
    white-space:pre;
    letter-spacing:0;
    line-height:1.4;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size:12px;
}
